[Unit]
Description=DataTransfer Web Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/npm --prefix {{ repoPath }}/server run prod

[Install]
WantedBy=multi-user.target